
body{
    background: linear-gradient(to right, rgb(238, 237, 237), #cac9c9);
    animation: gradient 7s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}

h2{
    text-align: center;
    padding: 0% 5%;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn-start{
    text-decoration: none;
    background-color: rgb(190, 190, 190);
    color: #212529;
    font-weight: 700;
    border-radius: 50px;
    font-size: 32px;
    width: 266px;
    height: 66px;
}

.btn-start:hover{
        background: linear-gradient(94.3deg, rgb(151, 151, 151) 0%, rgba(231, 231, 231, 0.76) 99.33%);
    }

/* друга сторінка тесту */
fieldset{
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 6px 2px 10px #ffffffc2;
    background: #ffffff8c;
}

h1{
    text-align: center;
}

.test-question{
    font-size: 20px;
    font-weight: 600;
}

.student-info{
    display: flex;
    width: 70%;
    margin: 30px auto;
    justify-content: space-around;
}

ul{
    list-style: none;
}

.bgGreen{
    background: green;
}
.bgRed{
    background: red;
}
.test-item-blue{
    color:blue;
}
.test-question-blue{
    color:blue;
    font-size: 18px;
}
.test-item-red{
    color:red;
}
.test-number-center{
    margin-left:2%;
}
b{
    font-size: 18px;
}

#result{
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-weight: 700;
    border-radius: 50px;
    font-size: 32px;
    width: 266px;
    background-color: #fff;
}

/*таймер*/
.countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    position: fixed;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    right: 2vh;
    top: 2vh;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 10px;
    background: #ffffffbf;
    display: inline-block;
    border: 2px solid #fff;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 10px;
    background: #e3e3e3;
    display: inline-block;
    border: 2px solid #fff;
  }
   
  .countdown-text {
    padding-top: 5px;
    font-size: 16px;
  }