* {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
  }

  body {
    padding: 0 20px;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
  }

  header{
    padding: 3%;
  }

  .header{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 2%;
  }

  .header__which{
    font-size: 184px;
    font-weight: 400;
    line-height: 184px;
  }

  .header__info{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards>div,
  .cards>ul {
    height: 300px;
  }
  
  div, ul {
    font-size: 30px;
  }

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  li {
    width: 50px;
    position: relative;
    box-sizing: border-box;
    margin: 10% 40%;
    padding: 2%;
    text-align: center;
    background-color: #fff;
    border: 2px solid #262d3d;
    border-radius: 3px;
  }

  .key,
  .code,
  .which,
  .historyBlock{
    background-color: #fff;
    text-align: center;
  }

  /* .key,
  .code,
  .which{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 200px;
  } */

  h4{
    background-color: #204ecf;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .card-item{
    margin: 5%;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 8px 12px -3px rgba(0,0,0,.08), 0 4px 8px -2px rgba(0,0,0,.04);
  }
