* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.field {
    margin: auto;
    position: relative;
    width: 800px;
    height: 509px;
    background-image: url("../images/f.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
  
.center-circle {
    position: absolute;
    top: 146px;
    left: 321px;
    width: 159px;
    height: 158px;
    border: 2px solid white;
    border-radius: 50%;
}
  
.goal2 {
    top: 147px;
    right: 42px;
}

.goal1 {
    top: 147px;
    left: 43px;
}

.goal {
    position: absolute;
    width: 48px;
    height: 157px;
    border: 2px solid white;
    z-index: 10;
}
  
.goalCounter {
    background-color: green !important;
    transition: 1s;
    color: white;
    scale: 1.2;
}

.goalLoose{
    background-color: red !important;
    transition: 1s;
    color: white;
}
  
.ball {
    background: url("../images/ball.png");
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 41%;
    left: 50%;
    z-index: 10;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.score {
    width: 200px;
    height: 70px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 10px auto;
}
  
h1 {
    text-align: center;
    margin: 10px;
}

.score > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2px;
    font-size: 20px;
    font-weight: 500;
    border: 1px black solid;
}

.teamName1,
.teamName2 {
    background-color: gray;
    color: white;
}