* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
    background-color: beige;
  }
  h1,
  h3 {
    text-align: center;
  }

  .text-data{
    padding-right: 1%;
  }

  .data{
    display: flex;
    justify-content: center;
  }

  button,
  button:active,
  button:hover {
    border: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 254, 196, 0.637);
    width: 60%;
  }
  .input-field,
  .output-field {
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .turnBtn {
    padding: 15px 30px;
    margin: 0 30px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.658);
    font-size: 16px;
    font-weight: bold;
  }
  .turnBtn:hover {
    background-color: rgb(85, 85, 85);
    color: white;
  }
  .turnBtn:active {
    color: white;
    background-color: rgb(85, 85, 85);
  }
  .grid {
    background-color: rgba(255, 255, 255, 0.507);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .grid_item {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid black;
  }
  .input-currency,
  .output-currency {
    max-width: 100px;
    width: 100%;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(74, 104, 135);
  }
  .input-currency {
    margin-left: 10px;
  }
  .output-currency {
    margin-right: 10px;
  }
  label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
  input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(74, 104, 135);
    font-size: 18px;
  }

  .result{
    margin: 2%;
  }

  .resultBtn {
    display: block;
    width: 200px;
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(132, 133, 133);
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  .resultBtn:hover {
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(85, 85, 85);
    color: white;
  }
  .resultBtn:active {
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(85, 85, 85);
    color: white;
  }