*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    text-align: center;
    margin: 1% 0;
    color: #fff;
}

.pictureofday{
    display: flex;
    margin: 0 auto;
    border: 2px #fff solid;
}

.picture{
    margin: 2% 10%;
    text-align: center;
    font-size: 20px;
    padding: 1%;
    border: 2px #fff solid;
    background-color: #00000018;
    color: #fff;
}