*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, darkgray, #ff9100);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.calculator{
    width: fit-content;
    color: white;
    margin: 0 auto;
    
    box-shadow: 2px 2px 10px #000000;
}
.calculator__inp{
    width: 250px;
    background: rgb(255, 255, 255, 0.3);
    border: black 1 solid;
    text-align: right;
    height: 100px;
    color: white;
    font-size: 40px;
    margin: 20px 20px;
    box-shadow: 2px 2px 4px #000000;
}
.calculator__grid{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;
    text-shadow: 1px 1px 2px #000000;
    justify-content: center;
    padding-bottom: 20px
}
.calculator__grid>div{
    text-align: center;
    line-height: 50px;
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
}
.calculator__grid>div:nth-child(17){
    grid-row: 5;
    grid-column: 1/3;
    border-radius: 40px;
}

.number:hover{
    background-color: #5b5a5c;
    scale: 1.02;
    text-shadow: 2px 2px 4px #000000;
}

.clear:hover,
.percent:hover,
.toggleSign:hover{
    background-color: rgb(197, 197, 197);
    scale: 1.02;
    text-shadow: 2px 2px 4px #000000;
}

.sign:hover,
.result:hover{
    background-color: #ff9100;
    scale: 1.02;
    text-shadow: 2px 2px 4px #000000;
}

.number{
    background: grey;
    box-shadow: 1px 1px 1px;
}
.sign,
.result{
    background: orange;
    box-shadow: 1px 1px 1px;
}
.toggleSign,
.percent,
.clear{
    background: lightgray;
    box-shadow: 1px 1px 1px;
}
