*{
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
    --black: rgb(0, 0, 0);
    --orange : #FFB742;
    --white: #FFF;
    --grey: #252525;

    /* --toogle-bg: url(../image/assets/bg-lulu-light.jpg); */
}


:root[data-theme='dark']{
    background-image: url(../image/assets/bg-lulu-dark.png);
    color: var(--white);
}

body{
    background-image: url(../image/assets/bg-lulu-light.jpg);
    font-family: 'Cormorant Infant', serif;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

header{
    background-color: var(--grey);
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.header-menu{
    color: var(--white);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    gap: 50px;
    margin: 0 50px;
    font-size: 20px;
}

.link{
    text-decoration: none;
    color: var(--white);
    position: relative;
    display: inline-block;
}

.link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
}

.link:hover::before {
    scale: 1;
    transform-origin: left;
}

.is-active{
    color: var(--orange);
    /* border: 2px var(--orange) solid;
    border-radius: 50%;
    padding: 2% 20%; */
}

/* burger menu */

.header-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .header-menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--white);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 850px) {

    .header,
    header{
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 74px;
    }

    .logo-img{
        width: 60px;;
    }

    .menu-button-container {
      display: flex;
    }
    
    .header-menu {
      display: block;
      position: absolute;
      top: 0;
      margin-top: 74px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .header-menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .header-menu li {
      border: 1px solid #333;
      height: 1.5em;
      padding: 0.5em 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .header-menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .header-menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

/* darkmode toogle */

body.dark-mode{
    background-image: url(../image/assets/bg-lulu-dark.png);
    color: var(--white);
}

.tg-theme{
    display: flex;
}

.darkmode-label{
    width: 60px;
    height: 32px;
    position: relative;
    display: block;
    background-color: white;
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0,0,0,.4), inset 0 -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: .3s;
}

.darkmode-label::after{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: linear-gradient(180deg, #ffcc89, #FFB742);
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: .3s;
}

.darkmode-input{
    width: 0;
    height: 0;
    visibility: hidden;
}

.darkmode-input:checked + .darkmode-label{
    background: #696969;
}

.darkmode-input:checked + .darkmode-label::after{
    left: 56px;
    transform: translate(-100%);
    background: linear-gradient(180deg, #808080, #161616);
}

.darkmode-label:active::after{
    width: 32px;
}

/* головна сторінка сайту */

.main-first{
    margin-top: 3%;
}

.home-content {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.inner-content {
    max-width: 70rem;
    margin-top: 5rem;
    text-align: center;
}

.inner-content-img {
    margin-top: 2%;
}

.inner-content-img img {
    width: 45rem;
    height: auto;
    animation: icon 5s ease infinite;
}

@keyframes icon {
    25% {
        transform: translateY(-1.5rem);
    }
    50% {
        transform: translateY(1.5rem);
    }
}

.inner-content i {
    color: var(--clr4);
}

.home-tittle{
    margin: 4% 0;
    font-size: 50px;
}

.home-btn {
    margin-top: 2rem;
    padding: 1.3rem 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 500;
    color: #000;
    background-color: var(--orange);
    border: none;
    border-radius: .5rem;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.home-btn:hover {
    background-color: var(--grey);
    box-shadow: 0px .8rem 4rem rgba(255, 129, 11, 0.4);
    color: var(--orange);
    transform: translateY(-1rem);
    font-size: 2rem;
}

.home-btn:active {
    transform: translateY(-.1rem);
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 2% 0;
  }


  .submit {
    background: linear-gradient(45deg, #faa200, #f8c85f) no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 11px 28px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
}

.btn-first{
    gap: 20px;
    display: flex;
    justify-content: center;
}

.submit:hover{
    background: linear-gradient(45deg, #000000, #f8c85f) no-repeat;
    scale: 1.08;
}

.input-main input {
    height: 26px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #a2a2a2;
    font-size: 1rem;
}

.input-main input::placeholder {
    color: #a2a2a2;
}

.input-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    background-color: #ebebeb;
    border-radius: 5px;
    margin-right: 15px;
}

.input-main svg {
    width: 30px;
    height: auto;
    fill: #a2a2a2;
    margin-right: 10px;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-top: 24px;
}

.description {
    font-size: 1.1rem;
    color: var(--white);
    margin-top: 10px;
}

.form-title {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--white);
}

.form-number {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    height: 216px;
    border-radius: 50px;
    margin: 50px auto;
    backdrop-filter: blur(8px);
    width: fit-content;
    box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
}

.form-container{
    padding-top: 4%;
}

@media (max-width: 1200px){
    .pizza-animation{
        max-width: 480px;
        margin-top: 7rem;
    }
    .inner-content {
        margin-top: 3rem;
    }
    .home-tittle {
        margin: 4% 2%;
    }
}

@media (max-width: 968px){
    .home-tittle {
        font-size: 30px;
    }

    .inner-content p{
        font-size: 16px;
    }
    .home-btn {
        padding: 1rem;
    }
    .form-number {
        max-width: 378px;
    }
}
@media (max-width: 850px){
    .pizza-animation{
        max-width: 320px;
    }
    .home-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .inner-content-img {
        margin-top: -110px;
    }
    .main-first {
        margin-top: 0;
    }
    .inner-content {
        margin-top: 1rem;
    }
    .inner-content p {
        font-size: 14px;
    }
    .home-btn {
        font-size: 18px;
    }
    .form-number{
        margin: 38px auto;
    }
}

@media (max-width: 600px){
    .form-number {
        max-width: 360px;
        height: 185px;
    }
    .submit{
        padding: 11px 15px;
        width: 120px;
    }
    .input-main{
        padding: 7px 15px;
    }
    .form-title{
        font-size: 18px;
    }
    .form-container {
        padding-top: 5%;
    }
}

/*  */

/* .link-constructor{
    text-decoration: none;
    color: var(--black);
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-right: 10%;
    margin-bottom: 2%;
    line-height: 1;
}

.btn-modal{
    position: absolute;
    width: 160px;
    height: 34px;
    margin-right: 10%;
    margin-top: 4%;
    border: 2px dashed;
}

.btn-modal-link{
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
}

.delivery{
    width: 12%;
    position: absolute;
    margin-right: 28%;
    margin-bottom: 2%;
}

.btn-modal-two{
    position: absolute;
    width: 160px;
    height: 34px;
    border: 2px dashed;
} */


/* page - pizza */

.size-btn-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}
.size-btn {
    background-color: transparent;
    border-radius: 25%;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-size: 1.1rem;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.size-btn.active {
    border: 2px solid var(--orange);
    color: var(--grey);
    background-color: var(--orange);
}

.price-choose{
    display: flex;
    justify-content: center;
    gap: 12px;
}

h2{
    background-color: var(--orange);
}

.type-pizza{
    width: 300px;
}

.type-pizza:hover{
    transform: rotate(90deg);
    transition: 1.5s ease-in;
}

.gallery li:hover,
.container-drinks li:hover,
.container-deserts li:hover{
    scale: 1.05;
    border: 1px var(--orange) solid;
    border-radius: 5%;
    transition: .5s ease-in-out;
}

.gallery-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 30px;
}

.gallery li{
    text-align: left;
    height: 404px;
    margin-bottom: 30px;
    display: inline-table;
    border-radius: 3%;
    padding: 1rem;
    background-color: #ffb74221;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
    max-width: 300px;
    border: 1px var(--white) dashed;
}

.gallery h2{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    left: 24px;
    color: var(--grey);
}

.gallery p {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    padding-top: 4%;
    text-align: center;
    /* background-color: #ffb7426e; */
    max-width: 50%;
}

.bold{
    font-weight: bold;
}

.add-pizza{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* .count{
    width: 10%;
    border-radius: 10px;
    height: 25px;
    border: 2px solid var(--orange);
    padding: 3px 5px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
} */

/* #remove{
    width: 14px;
    background: rgba(255, 154, 3, 0.288);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 4px;
} */



/* accordion */
.about-title{
    display: block;
    cursor: pointer;
    padding: 2% 0;
    font-style: italic;
}

.about-title:hover{
    background-color: #2525256e;
    color: var(--white);
}

.about-input{
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}

.about-input:checked + .about-text{
    display: block;
}

.about-text{
    display: none;
    padding: 2% 0;
}

.btn-add,
.btn-del{
    display: flex;
    padding: 2% 4%;
    margin: 4% auto;
    background-color: var(--orange);
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}


.btn-add:hover,
.btn-del:hover{
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    transition: .2s ease-in;
    scale: 1.05;
}

.total-price,
.sum-price{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 850px){

    .gallery li{
        margin-right: 0;
    }

    .type-pizza{
        width: 260px;
    }

    .gallery h2,
    .about-item{
        text-align: center;
    }
    .gallery p,
    .about-title:hover{
        max-width: 100%;
        text-align: center;
    }
    .btn-add{
        font-size: 16px;
    }
    .gallery h2 {
        font-size: 16px;
}
}

/* constructor */

.constructor{
    display: flex;
    flex-wrap: wrap;
    columns: 2;
    justify-content: center;
}

/* constructor LEFT */

.constructor-left-bg{
padding-bottom: 100%;
margin-bottom: 1rem;
position: relative;
}

.constructor-left-bg img{
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    /* max-width: 100%; */
}

.constructor-left{
    margin: 0 auto;
    text-align: center;
    letter-spacing: .1rem;
}

.constructor-left h2,
.constructor-left h1{
    margin: 3% 0;
}

/* choose SIZE of pizza */

.constructor-left-size{
    /* background-color: rgba(255, 255, 255, 0.151); */
    padding: 2%;
    border: var(--white) 1px dashed;
    margin: 4% 0;
}
.choose-size{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2%;
}

.custom-btn-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.custom-radio-btn{
    display: flex;
    width: 30%;;
    border: 1px black solid;
    background-color: #dabe9791;
    cursor: pointer;
}

.checked{
    background: var(--orange)!important;
    color: var(--black);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
}

.custom-radio-btn .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-radio-btn img {
    width: 40px;
    height: 40px;
    padding:  4%;
    /* margin: 0.75rem 0 0.75rem auto; */
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-input {
    display: none;
    /* position: absolute;
    z-index: -1;
    opacity: 0;
    left: 7px;
    top: 15px; */
}

.circle{
    width: 560px;
    height: 560px;
    border-radius: 150%;
    position: absolute;
    margin: 5%;
    transition: .3s;
}

.circle.drag{
    border: #161616 dotted 2px;
}
.constructor-total,
.cart-total{
    border: var(--white) 1px dashed;
    margin: 4% 0;
}

@media (max-width: 850px) {

    .constructor{
        overflow-x: hidden;
    }

    .custom-btn-group{
        justify-content: space-around;
        margin-bottom: 0;
    }

    .constructor-left-bg{
        max-width: 85%;
        margin: 0 auto;
    }

    .constructor-left-header h1, 
    .constructor-left-header h2{
        font-size: 18px;
    }

    .constructor-left-header p{
        font-size: 14px;
    }

    .constructor-left-size{
        margin: 4% 0 0 0;
        padding: 2% 0 0 0;
        border: none;
    }
    .circle{
        width: 425px;
        height: 425px;
        margin-top: 13%;
    }
    .circle img{
    width: 470px;
    }
}

@media (max-width: 540px){
    .circle img{
        width: 400px;
        left: 46%;
        top: 45%;
        }
        .total-price{
            font-size: 22px;
        }
}

@media (max-width: 420px){
    .circle img{
        width: 310px;
        left: 36%;
        top: 36%;
        }
}

@media (max-width: 375px){
    .circle img{
        width: 300px;
        left: 34%;
        top: 34%;
        }
}

/* constructor RIGHT */

.constructor-right{
    width: 50%;
    columns: 4;
    margin: 1%;
}

.ingridients{
    display: flex;
    flex-wrap: wrap;
    columns: 4;
    gap: 15px;
    cursor: pointer;
}

.ingridients li {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 5%;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
}

.pizza-ingridient img{
    width: 70%;
}

@media (max-width: 850px) {
    .constructor-right{
        column-count: 3;
        width: 100%;
        margin: 0 4% 4% 4%;
    }

    .ingridients{
        gap: 10px;
    }

    .ingridients li{
        margin: 0;
        gap: 3px;
        padding: 2px;
    }

    .pizza-ingridient p{
        font-size: 14px;
    }
}


/* page - drinks AND deserts*/

.container-drinks,
.container-deserts{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -8px;
    margin-left: -8px; */
}

.container-drinks ul,
.container-deserts ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    columns: auto;
    list-style: none;
    gap: 20px;
    margin: 0 10%;
}

.drinks,
.deserts{
    width: 20%;
    margin: 2%;
    background-color: #ffb74221;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2%;
    border: 1px white dashed;
}

.drinks img,
.deserts img{
    width: 220px;
}

.type img{
    width: 220px;
}

.container-drinks h2,
.container-deserts h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    color: var(--grey);
    max-width: 80%;
    padding: 0 2%;
    margin: 2% 0;
}

.container-drinks p
.container-deserts p{
    color: var(--color-text-p);
    font-size: 28px;
    text-align: center;
}

.container-drinks img:hover,
.container-deserts img:hover{
    transform: translate(5px, 12px);
    transition: .7s ease-in;
    scale: 1.9;
}

.btn-drinks-deserts{
    display: flex;
    padding: 2% 4%;
    margin: 5% auto;
    background-color: var(--orange);
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
    font-weight: 600;
    font-size: 14px;
}

.btn-drinks-deserts:hover{
    cursor: pointer;
    background-color: var(--grey);
    color: var(--white);
    transition: .3s ease-in;
    scale: 1.1;
}

@media (max-width: 850px) {
    .container-drinks h2,
    .container-deserts h2{
    display: none;
    }
    .container-drinks ul,
    .container-deserts ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style-type: none;
        margin-top: 30px;  
    }

    .drinks,
    .deserts{
    width: 80%;
    }
}

/* page - sale */

.page-sale{
    width: 700px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 2%;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .page-sale{
        display: flex;
        flex-direction: column;
        width: 900px;
    }
}

@media (max-width: 1200px) {
    .page-sale{
        width: 800px;
        max-width: 90%;
    }
}

/* footer */
footer{
    background-color: #1C1C1C;
    margin-top: 170px;
    color: #D4D4D4;
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.links{
    padding: 0 5%;
}

.links > h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--orange);
}
.links > p{
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.links > h5{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: var(--orange);
}
.links > a{
    font-family: Work Sans;
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 36px;
    color: #7B7B7B;
    text-decoration: none;
}
.links > a:hover{
    color: var(--orange);
}

.footer{
    display: none;
}

.form__input{
    background-color: var(--black);
    border: none;
    width: 284px;
    padding: 2% 0;
}

fieldset,
.form__input,
.form__label{
    border: none;
}

@media (max-width: 850px) {

    footer{
        display: none;
    }
    .footer{
        margin-top: 125px;
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: center;
        padding: 4%;
        gap: 50px;
    }
    .social-media{
        cursor: pointer;
    }

    .social-media:hover{
        scale: 1.1;
        transform: translateY(-7px);
    }

    /* .links{
        text-align: center;
    }
    .links > h5{
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
    }
    .links > a{
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
    } */
}

/* cart */
.cart-title{
    text-align: center;
    margin: 1%;
}

.shop-cart{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    flex-wrap: wrap;
    padding: 2% 10%;
    background-color: #ffffff2b;
    backdrop-filter: blur(8px);
    text-align: center;
}

.shop-cart .type{
    border: 1px white dashed;
    border-radius: 5%;
    /* padding: 1%; */
    width: 220px;
}

.shop-cart h2{
    font-size: 14px;
    font-weight: 500;
}

.shop-cart li{
    max-width: 220px;
}

.shop-cart .circle{
    display: contents;
}

.shop-cart .constructor-left-bg{
    display: flex;
    margin-bottom: 3%;
}

.cart-total{
    padding: 1%;
    max-width: 50%;
    margin: 4% auto;
}

#to-form{
    display: flex;
    padding: 2% 4%;
    margin: 2% auto;
    background-color: var(--orange);
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.1);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .cart-total h1{
        font-size: 20px;
    }
    #to-form{
        font-size: 18px;
    }
}

@media (max-width: 542px) {
    .shop-cart .circle img{
        left: 50%;
        top: 50%;
    }
    .cart-total h1{
        font-size: 14px;
    }
    #to-form{
        font-size: 14px;
    }
}

.counter{
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 0 7px;
    border-radius: 50%;
}

.shop a{
    display: flex;
    align-items: center;
    text-decoration: none;
}


/* modal pop up - add to cart */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 400px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--orange);
    margin: auto;
    padding: 0 0 30px 0;
    border: 1px solid #888;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.to-cart{
    text-decoration: none;
    color: var(--black);
}

.modal-content > button{
    padding: 3%;
    border: 1px var(--black) dashed;
    font-size: 12px;
    font-weight: 600;
}

.modal-content p{
    padding-bottom: 4%;
}

.close {
    color: var(--grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 90%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .modal-content{
        width: 45%;
    }
}
@media (max-width: 1000px) {
    .modal-content{
        width: 40%;
    }
}
@media (max-width: 542px) {
    .modal-content{
        width: 80%;
    }
}

/* form */
.forma input:placeholder-shown + .forma label {
    opacity:0;
    transform: translateY(100%);
  }
  .forma > a {
    color: #ffc600;
  }
  .forma > h2 {
    font-size: 12px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .forma {
    width: 400px;
    height: 475px;
    padding: 20px 50px;
    margin: 5% 37%;
    z-index: 1;
    position: absolute;
    display: none;
    border:1px solid grey;
    backdrop-filter: blur(50px);
    background: linear-gradient(var(--orange), #f8a53960);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.41), 0 0 1px 20px rgba(0, 0, 0, 0.08);
  }
  
  .forma > input {
    width: 100%;
    padding:20px;
    margin:20px 0;
    border:2px solid black;
    transition: all 0.1s;
    font-size:20px;
  }
  
  .group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    color: black;
    margin-bottom: 2%;
  }

  .group input{
    padding: 2%;
    font-style: italic;
  }

  .group label{
    font-size: 14px;
  }

  .group #comment{
    height: 70px;
    font-style: italic;
  }
  
  .forma input:focus,
  .forma textarea:focus {
    outline:0;
    border-color:#ffc600;
  }
  
  .forma input:focus + .forma label {
    border-color:#ffc600;
  }  

  .forma > button{
    padding: 3%;
    border: 1px var(--black) dashed;
    font-size: 12px;
    font-weight: 600;
    left: 30%;
    position: relative;
    margin-top: 4%;
    background-color: var(--orange);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.41);
  }

  .forma a{
    text-decoration: none;
    color: var(--black);
  }

  .group span{
    margin-left: 100%;
  }

  @media (max-width: 1400px) {
    .forma {
        padding: 20px 50px;
        margin: 5% 32%;
    }

    .forma > button{
        left: 25%;
    }
  }

  @media (max-width: 1200px) {
    .forma {
        margin: 5% 30%;
    }
  }

  @media (max-width: 1000px) {
    .forma {
        margin: 5% 25%;
    }
  }

  @media (max-width: 800px) {
    .forma {
        margin: 5% 20%;
    }
  }

  @media (max-width: 700px) {
    .forma {
        margin: 5% 13%;
    }
  }

  @media (max-width: 600px) {
    .forma {
        padding: 20px;
        max-width: 68%;
    }
    .group span {
        margin-left: 95%;
    }
  }

  @media (max-width: 500px) {
    .forma {
        max-width: 68%;
    }
  }

  @media (max-width: 400px) {
    .forma {
        max-width: 65%;
    }
  }

  .group small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.group.error small{
    visibility: visible;
}

.form-control {
    display: grid;
}
    
.label-name,
.label-email{
    grid-row: 1;
}
    
.form-control > #name,
.form-control > #email{
    padding: 2%;
}
small{
    padding-bottom: 5px;
    color: red;
}